html {
  box-sizing: border-box;
  overflow-x: hidden;
}

html,
body {
  min-height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  outline: transparent;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

button,
input {
  font: inherit;
  border: none;
  padding: 0;
  outline: transparent;
  background-color: transparent;
}

button {
  cursor: pointer;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #1B1B1B;
  overflow-x: hidden;
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: -5;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

body.lock {
  overflow-y: hidden;
}

body.lock::before {
  z-index: 5;
  opacity: 1;
  visibility: visible;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.section {
  padding-top: 150px;
}

.link {
  display: inline-block;
  font-weight: 700;
  padding: 21px 55px;
  color: #7449BB;
  border: 1px solid #7449BB;
  text-transform: uppercase;
  transition: color 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
}

.link:focus {
  box-shadow: 0 0 0 2px rgba(116, 73, 187, .7);
  color: #7449bb;
  border-color: transparent;
  background-color: #d6bdfd;
}

.link:hover {
  background-color: #7449bb;
  color: #fff;
}

.link:active {
  color: #7449bb;
  box-shadow: none;
  background-color: #d6bdfd;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.linkage {
  border-radius: 5px;
  transition: box-shadow 0.5s ease, color 0.5s ease, text-shadow 0.5s ease;
}

.linkage:focus {
  box-shadow: 0 0 0 2px rgba(116, 73, 187, .7);
}

.linkage:hover {
  color: #7449BB;
}

.linkage:active {
  color: #7449BB;
  text-shadow: 2px 2px 5px rgba(49, 53, 43, .5);
  box-shadow: none;
}

.logo {
  align-self: start;
  border-radius: 5px;
  transition: opacity 0.5s ease, box-shadow 0.5s ease;
}

.logo:focus {
  box-shadow: 0 0 0 2px rgba(116, 73, 187, .7);
}

.logo:hover {
  opacity: .7;
}

.logo:active {
  opacity: 0.5;
  box-shadow: none;
}

.arrow {
  width: 44px;
  height: 30px;
  border-radius: 5px;
  transition: box-shadow 0.5s ease, background-color 0.5s ease;
}

.arrow path {
  transition: fill 0.5s ease;
}

.arrow:focus {
  box-shadow: 0 0 0 2px rgba(116, 73, 187, .7);
}

.arrow:hover path {
  fill: #7449BB;
}

.arrow:active {
  background-color: #d6bdfd;
  box-shadow: none;
}

.arrow:active path {
  fill: #7449BB;
}

/* header */

.nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 30px;
  text-transform: uppercase;
}

.logo__img {
  object-fit: fill;
}

.header__text {
  font-family: "Playfair Display", serif;
}

.menu__item:not(:last-child) {
  margin-bottom: 10px;
}

.menu__link {
  font-size: 12px;
}

.user-nav {
  display: flex;
  gap: 10px;
}

.user-nav__btn {
  width: 44px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: start;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.user-nav__btn:focus {
  background-color: #d6bdfd;
  box-shadow: 0 0 0 2px rgba(116, 73, 187, .7);
}

.user-nav__btn:focus path {
  fill: #1b1b1b;
}

.user-nav__btn:hover {
  background-color: #7449BB;
}

.user-nav__btn path {
  transition: fill 0.5s ease;
}

.user-nav__btn:hover path {
  fill: #fff;
}

.user-nav__btn:active {
  background-color: #d6bdfd;
  box-shadow: none;
}

.user-nav__btn:active path {
  fill: #1b1b1b;
}

.burger-btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
}

.burger-btn span {
  background-color: #1b1b1b;
  height: 1px;
  width: 100%;
}

.menu-burger {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: 10;
  overflow-y: auto;
  display: none;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.menu-burger .logo {
  width: 175px;
  display: inline-block;
  padding: 25px 50px 25px 15px;
}

.close-btn {
  position: absolute;
  width: 44px;
  height: 44px;
  padding: 13px;
  top: 35px;
  right: 14px;
}

.close-btn span {
  width: 22px;
  height: 2px;
  display: block;
  background-color: #1b1b1b;
}

.close-btn span:first-child {
  transform: rotate(135deg);
}

.close-btn span:nth-child(2) {
  margin-top: -2px;
  transform: rotate(-135deg);
}

.menu-burger .menu {
  padding: 25px 15px;
  border: 1px solid rgba(27, 27, 27, .1);
  border-left: none;
  border-right: none;
}

.menu-burger__social {
  display: flex;
  gap: 10px;
  padding: 15px;
}

.menu-burger__social li {
  background-color: #7449bb;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.menu-burger__social:hover li path {
  fill: #fff;
}

.menu-burger__social li path {
  fill: #fff;
}

/* top */

.top {
  padding-top: 100px;
}

.top .swiper {
  padding-bottom: 50px;
}

.top-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.top-slide__inner {
  min-height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 20px;
  padding: 15px 0;
}

.top-slide--promo {
  display: flex;
  justify-content: end;
  align-items: center;
}

.top-slide__content {
  flex-basis: 183px;
  margin-top: -140px;
}

.top-slide__title {
  font-family: "Playfair Display", serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 1.3;
  text-transform: uppercase;
  margin-bottom: 56px;
}

.top-slide__subtitle {
  display: inline-block;
  font-size: 24px;
  margin-bottom: 10px;
}

.top-slide__text {
  margin-bottom: 20px;
}

.swiper-button-next {
  right: auto;
  left: 75px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: none;
}

.swiper-button-prev,
.swiper-button-next {
  width: 50px;
}

.container-arrow {
  position: relative;
}

.top__arrow {
  margin-top: 24px;
}

/* about */

.about {
  overflow: hidden;
}

.about__inner {
  padding-left: 200px;
  padding-bottom: 2px;
}

.about__title {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.34;
  text-transform: uppercase;
  max-width: 185px;
  margin-bottom: 20px;
}

.about__textbox {
  display: flex;
  align-items: end;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 150px;
}

.about__textbox-item {
  max-width: 387px;
  line-height: 1.2;
}

.about__point:not(:last-child),
.about__list-item:not(:last-child) {
  margin-bottom: 15px;
}

.about__slider {
  width: 1600px;
  padding-left: 200px;
  margin-left: -200px;
  padding-bottom: 20px;
}

.about__slider-title {
  margin-bottom: 20px;
}

.about__img {
  object-fit: cover;
}

.about__arrow {
  margin-left: -200px;
  margin-top: 30px;
}

.about__link {
  margin-top: -22px;
}

/* accordeon */

.accordeon__list {
  padding-left: 200px;
}

.accordeon__item {
  border-bottom: 1px solid #000;
  padding: 0 101px 20px 0;
  margin-bottom: 50px;
  position: relative;
}

.accordeon__item--active .accordeon__content {
  opacity: 1;
  grid-template-rows: 2fr;
}

.accordeon__item::after {
  content: '';
  position: absolute;
  display: block;
  width: 16px;
  height: 51px;
  background-image: url('../images/arrow-down.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  right: 85px;
  top: 0;
  transition: transform 0.5s ease;
}

.accordeon__item--active::after {
  transform: rotate(180deg);
}

.accordeon__item:last-child {
  margin-bottom: 73px;
  position: relative;
}

.accordeon__item:last-child::before {
  content: '';
  position: absolute;
  bottom: -73px;
  left: 268px;
  display: block;
  width: 65px;
  height: 120px;
  background-image: url('../images/accordeon-deco.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: scale(1) translateY(0);
  opacity: 1;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.accordeon__item:last-child.accordeon__item--active::before {
  transform: scale(0) translateY(100%);
  opacity: 0;
}

.accordeon__trigger {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  min-height: 51px;
  cursor: pointer;
}

.accordeon__title {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  flex-basis: 300px;
}

.accordeon__text {
  flex-basis: 458px;
  padding-right: 104px;
}

.accordeon__content {
  padding-top: 20px;
  max-width: 880px;
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, grid-template-rows 0.5s ease;
}

.accordeon__content ul {
  min-height: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* products */

.products {
  padding-bottom: 150px;
}

.products__inner {
  margin-bottom: 150px;
  position: relative;
  min-height: 647px;
}

.products__title {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.34;
  width: 100px;
}

.products__list {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 0;
  left: 200px;
}

.products__item {
  text-align: center;
  width: 386px;
}

.products__step {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 20px;
}

.products__box {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}

.products__img {
  object-fit: cover;
  transition: transform 0.5s ease;
}

.products__img:hover {
  transform: scale(1.05);
}

.products__item-title {
  margin-bottom: 10px;
}

.products__descr {
  margin-bottom: 10px;
}

.products__price {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.34;
}

.products__popup {
  display: block;
  height: 600px;
  margin-left: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: box-shadow 0.5s ease;
}

.products__popup::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  display: block;
  background-image: url('../images/play.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  transition: transform 0.5s ease;
}

.products__popup::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.5s ease;
}

.products__popup:focus {
  box-shadow: 0 0 0 2px rgba(116, 73, 187, .7);
}

.products__popup:hover::after {
  background-color: rgba(255, 255, 255, .2);
}

.products__popup:hover::before {
  transform: translate(-50%, -50%) scale(1.2);
}

.products__popup:active::before {
  transform: translate(-50%, -50%) scale(0.8);
}

.products__popup:active::after {
  background-color: rgba(255, 255, 255, .1);
}

/* footer */

.footer {
  padding: 70px 0 100px;
  background-color: #c4a9cd;
}

.footer__top {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 70px;
}

.footer__img {
  object-fit: cover;
}

.footer__items {
  max-width: 387px;
  width: 100%;
}

.footer__item:not(:last-child) {
  margin-bottom: 70px;
}

.footer__title {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__form {
  position: relative;
  border-bottom: 1px solid #000;
}

.footer__input {
  display: block;
  width: 100%;
  padding: 10px 0;
  padding-right: 70px;
  color: #1b1b1b;
  transition: box-shadow 0.5s ease;
  border-radius: 5px;
}

.footer__input:focus {
  box-shadow: 0 0 0 2px rgba(116, 73, 187, .7);
}

.footer__input::placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, .4);
}

.footer__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.footer__list-item:not(:last-child) {
  margin-bottom: 10px;
}

.social {
  align-self: end;
}

.social__item:not(:last-child) {
  margin-bottom: 5px;
}

.footer__nav {
  display: flex;
  gap: 10px 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.social__link path {
  transition: fill 0.5s ease;
}

.social__link:focus {
  box-shadow: 0 0 0 2px rgba(116, 73, 187, .7);
  background-color: #d6bdfd;
}

.social__link:hover {
  background-color: #7449bb;
}

.social__link:hover path {
  fill: #fff;
}

.social__link:active {
  background-color: #d6bdfd;
  box-shadow: none;
}

.social__link:active path {
  fill: #7449bb;
}

@media (max-width: 1640px) {
  .products__title {
    margin-bottom: 25px;
  }

  .products__list {
    position: static;
  }

  .products__popup {
    margin-left: 0;
  }
}

@media (max-width: 1000px) {
  .logo:hover {
    opacity: 1;
  }

  .linkage:hover {
    color: #1b1b1b;
  }

  .user-nav__btn:hover {
    background-color: transparent;
  }

  .user-nav__btn:hover path {
    fill: #1b1b1b;
  }

  .link:hover {
    background-color: transparent;
    color: #7449BB;
  }

  .arrow:hover path {
    fill: #1b1b1b;
  }

  .products__img:hover {
    transform: scale(1);
  }

  .products__popup:hover::before {
    transform: translate(-50%, -50%) scale(1);
  }

  .products__popup:hover::after {
    background-color: rgba(255, 255, 255, 0);
  }

  .social__link:hover {
    background-color: transparent;
  }

  .social__link:hover path {
    fill: #1b1b1b;
  }
}

@media (max-width: 992px) {

  .top,
  .section {
    padding-top: 75px;
  }

  .about {
    padding-top: 25px;
  }

  .products {
    padding-bottom: 75px;
  }

  .about__textbox {
    flex-wrap: wrap;
    margin-bottom: 75px;
  }

  .products__inner {
    margin-bottom: 75px;
  }

  .about__textbox-item {
    max-width: 100%;
  }

  .accordeon__list {
    padding: 0;
  }

  .footer {
    padding: 75px 0;
  }

  .footer__img {
    display: none;
  }
}

@media (max-width: 860px) {
  .header__text {
    display: none;
  }

  .swiper-slide--first {
    background-image: url('../images/slider-top/slider-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #b589fb;
  }

  .top .link {
    color: #b589fb;
    border-color: #b589fb;
  }

  .top .link:hover {
    color: #b589fb;
    border-color: #b589fb;
  }

  .top-slide__img--small {
    box-shadow: 0 0 15px 4px rgba(116, 73, 187, .7);
  }

  .slide::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
  }

  .swiper-slide--first::before {
    z-index: -1;
  }

  .top-slide--promo {
    position: relative;
    z-index: 3;
  }

  .top-slide__img--girl {
    display: none;
  }

  .top {
    padding-top: 50px;
  }

  .about__inner {
    padding-left: 0;
  }

  .about__slider {
    padding-left: 0;
    margin-left: 0;
    width: 1500px;
    margin-bottom: 20px;
  }

  .about__item img {
    width: 365px;
  }

  .about__arrow,
  .top__arrow {
    display: none;
  }

  .accordeon__trigger {
    flex-wrap: wrap;
  }

  .products__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .products__item {
    width: 45%;
  }

  .products__popup {
    height: 400px;
  }
}

@media (max-width: 580px) {
  .accordeon__item {
    padding-right: 50px;
    margin-bottom: 25px;
  }

  .accordeon__item::after {
    right: 15px;
  }

  .accordeon__text {
    padding: 0;
  }

  .accordeon__content {
    padding-top: 5px;
  }

  .products__item {
    width: 80%;
  }

  .products__img {
    margin: 0 auto;
  }

  .footer .logo {
    width: 100%;
  }

  .footer__top {
    flex-wrap: wrap;
    margin-bottom: 25px;
  }

  .footer .social {
    display: flex;
  }

  .footer__item:not(:last-child) {
    margin-bottom: 25px;
  }

  .footer__nav {
    justify-content: start;
  }
}

@media (max-width: 480px) {
  .nav {
    align-items: center;
  }

  .header__logo {
    width: 100px;
  }

  .burger-btn {
    display: flex;
  }

  .header__menu {
    display: none;
  }

  .user-nav {
    margin-left: auto;
    gap: 5px;
  }

  .menu-burger {
    display: block;
  }

  .menu-burger--active {
    transform: translateX(0);
  }

  .top-slide__img--small {
    display: none;
  }

  .top {
    padding-top: 30px;
  }

  .section {
    padding-top: 50px;
  }

  .top-slide--promo {
    justify-content: center;
  }

  .top-slide__content {
    margin: 0;
  }

  .about {
    padding-top: 0;
  }

  .about__textbox,
  .products__inner {
    margin-bottom: 50px;
  }

  .about__slider {
    width: 1150px;
  }

  .about__item img {
    width: 280px;
  }

  .accordeon__item:last-child::before {
    display: none;
  }

  .accordeon__item:last-child {
    margin-bottom: 0;
  }

  .products {
    padding-bottom: 50px;
  }

  .products__item {
    width: 100%;
  }

  .footer {
    padding: 50px 0;
  }
}

@media (max-width: 380px) {
  .top {
    padding-top: 25px;
  }
}