html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

button,
input {
  font: inherit;
  border: none;
  padding: 0;
  outline: transparent;
  background-color: transparent;
}

button {
  cursor: pointer;
}

body {
  font-family: "Inter", sans-serif;
  /* font-family: "Playfair Display", serif; */
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #1B1B1B;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.section {
  padding-top: 150px;
}

.link {
  display: inline-block;
  font-weight: 700;
  padding: 21px 55px;
  color: #7449BB;
  border: 1px solid #7449BB;
  text-transform: uppercase;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.link:hover {
  background-color: #7449BB;
  color: #fff;
}

/* header */

.nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 30px;
  text-transform: uppercase;
}

.logo {
  align-self: start;
}

.header__text {
  font-family: "Playfair Display", serif;
}

.menu__item:not(:last-child) {
  margin-bottom: 10px;
}

.menu__link {
  font-size: 12px;
}

.user-nav {
  display: flex;
  gap: 20px;
}

/* top */

.top {
  padding-top: 100px;
}

.top .swiper {
  padding-bottom: 50px;
}

.top-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.top-slide__inner {
  min-height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 20px;
}

.top-slide--promo {
  display: flex;
  justify-content: end;
  align-items: center;
}

.top-slide__content {
  flex-basis: 183px;
  margin-top: -140px;
}

.top-slide__title {
  font-family: "Playfair Display", serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 1.3;
  text-transform: uppercase;
  margin-bottom: 56px;
}

.top-slide__subtitle {
  display: inline-block;
  font-size: 24px;
  margin-bottom: 10px;
}

.top-slide__text {
  margin-bottom: 20px;
}

.swiper-button-next {
  right: auto;
  left: 75px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: none;
}

.swiper-button-prev,
.swiper-button-next {
  width: 50px;
}

.container-arrow {
  position: relative;
}

.top__arrow {
  margin-top: 20px;
}

/* about */

.about {
  overflow: hidden;
}

.about__inner {
  padding-left: 200px;
}

.about__title {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.34;
  text-transform: uppercase;
  max-width: 185px;
  margin-bottom: 20px;
}

.about__textbox {
  display: flex;
  align-items: end;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 150px;
}

.about__textbox-item {
  max-width: 387px;
  line-height: 1.2;
}

.about__point:not(:last-child),
.about__list-item:not(:last-child) {
  margin-bottom: 15px;
}

.about__slider {
  width: 1600px;
  padding-left: 200px;
  margin-left: -200px;
  padding-bottom: 20px;
}

.about__slider-title {
  margin-bottom: 20px;
}

.about__img {
  object-fit: cover;
}

.about__arrow {
  margin-left: -200px;
  margin-top: -6px;
}